__pycache__
try
*.sublime-project 
*.sublime-workspace
sftp-config.json
.DS_Store
README.html
user-Count
prompts.txt
user-Alice/out-hist-cht
user-Alice/out-hist-cht-html
user-Alice/out-hist-cht-pdf
user-Alice/out-hist-qst
user-Alice/out-hist-qst-html
user-Alice/out-hist-qst-pdf
